# Token mint addresses for the market.
base_mint  = ""
quote_mint = ""

# Each order's size in atoms when denominated in base.
base_order_size = 1000

# Each order's size in atoms when denominated in quote.
quote_order_size = 1000

# The Solana RPC endpoint.
rpc_url = "http://localhost:8899"
